@model DataLayer.Models.Departamento

@{
    ViewBag.Title = "Editar Departamento";
}

<div>
    <h2>@ViewBag.Title</h2>

    <div class="container">
        <a href="/RH/DeleteDepartamento/@Model.IdDepartamento" class="btn btn-danger" style="float:right;">Eliminar</a>
        <form action="EditDepartamento" method="post">
            <div class="form-group">
                @Html.LabelFor(d => d.IdDepartamento)
                @Html.TextBoxFor(d => d.IdDepartamento, new { @class = "form-control", placeholder = "ID" })
                @Html.ValidationMessageFor(d => d.IdDepartamento, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(d => d.Clasificacion)
                @Html.TextBoxFor(d => d.Clasificacion, new { @class = "form-control", placeholder = "Clasificación" })
                @Html.ValidationMessageFor(d => d.Clasificacion, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(d => d.Descripcion)
                @Html.TextBoxFor(d => d.Descripcion, new { @class = "form-control", placeholder = "Descripción" })
                @Html.ValidationMessageFor(d => d.Descripcion, null, new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(d => d.Estado)
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" href="@Url.Action("Departamentos","RH")">Ocultar</a>
    <input type="submit" value="Editar departamento" class="btn btn-success" />
</div>
