@model IEnumerable<DataLayer.Models.Departamento>

@{
    ViewBag.Title = "Departamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    //$(document).ready(function () {

    //});

    function GetDetalle(id) {
        console.log(id);
        $.ajax({
            async: true,
            type: 'GET',
            dataType: 'JSON',
            contentType: 'application/json;charset=utf-8',
            data: { id: id },
            url: '/RH/getDepartamento',
            success: function (data) {
                console.log(data);
                MostrarDetalle(data);
            }, error: function (data) {
                console.log(data);
                alert('No fue posible consultar el detalle');
            }
        });

        function MostrarDetalle(data) {
            var detalle = data.data[0];
            console.log(detalle);
            var objectDetails = document.getElementById('objectDetails');
            objectDetails.innerHTML = detalle;

        }
    }
</script>

<h2>@ViewBag.Title</h2>

<div class="container">
    @Html.ActionLink("Nuevo", "CreateDepartamento", "RH", new { @class = "btn btn-success", @style = "float: right" })
    <br />
    <br />
    <div id="divTabla">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IdDepartamento) </th>
                    <th>@Html.DisplayNameFor(model => model.Clasificacion) </th>
                    <th>@Html.DisplayNameFor(model => model.Descripcion) </th>
                    <th>@Html.DisplayNameFor(model => model.Estado) </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdDepartamento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Clasificacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            <button onclick="GetDetalle(@item.IdDepartamento)" class="btn btn-primary">Detalle</button>
                            @*@Html.ActionLink("Editar", "EditDepartamento", "RH", new { id = item.IdDepartamento }, new { @class = "btn btn-warning" })
                                @Html.ActionLink("Eliminar", "DeleteDepartamento", "RH", new { id = item.IdDepartamento }, new { @class = "btn btn-danger" })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="objectDetails">

    </div>

</div>