@model IEnumerable<DataLayer.Models.Departamento>

@{
    ViewBag.Title = "Departamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <button onclick="Crear()" class="btn btn-success" style="float:right;">Nuevo</button>
    <br />
    <br />
    <div id="divTabla" style="overflow-x:auto;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IdDepartamento) </th>
                    <th>@Html.DisplayNameFor(model => model.Clasificacion) </th>
                    <th>@Html.DisplayNameFor(model => model.Descripcion) </th>
                    <th>@Html.DisplayNameFor(model => model.Estado) </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdDepartamento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Clasificacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            <button onclick="GetDetalle(@item.IdDepartamento)" class="btn btn-primary">Detalle</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="newRegister">
    <div class="modal-dialog modal-xl" style=" width: 900px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Añadir Departamento</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="modalBod">
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function Crear() {
            $.ajax({
                async: true,
                type: 'GET',
                dataType: 'html',
                url: '/RH/CreateDepartamento',
                success: function (data) {
                    MostrarFormulario(data);
                }, error: function (data) {
                    console.log(data);
                    alert('No fue posible abrir el formulario');
                }
            });

            function MostrarFormulario(data) {
                var detalle = data;

                var modal = document.getElementById('modalBod');

                modal.innerHTML = detalle;
                $("#newRegister").modal();
            }
        }

        function GetDetalle(id) {
            console.log(id);
            $.ajax({
                async: true,
                type: 'GET',
                dataType: 'html',
                contentType: 'application/json;charset=utf-8',
                data: { id: id },
                url: '/RH/EditDepartamento',
                success: function (data) {
                    console.log(data);
                    MostrarDetalle(data);
                }, error: function (data) {
                    console.log(data);
                    alert('No fue posible consultar el detalle');
                }
            });

            function MostrarDetalle(data) {
                var detalle = data;

                var form = document.getElementById('divForm');
                form.style.display = "block";

                form.innerHTML = detalle;
            }
        }

        function guardarDepto() {
            event.preventDefault();
            var oDepartamento = {
                Clasificacion: $("#Clasificacion").val(),
                Descripcion: $("#Descripcion").val()
            };

            $.ajax({
                async: true,
                type: "POST",
                url: "/RH/CreateDepartamento",
                data: oDepartamento,
                success: function (data) {
                    if (typeof (data) == "object") {
                        var exito = data.exito;
                        if (exito) {
                            alert(data.respuesta)
                            location.reload();
                        }
                    }
                },
                error: function (data) {
                    console.log('error');
                    console.log(data);
                }
            });
        }

    </script>
}
