@model IEnumerable<DataLayer.Models.Departamento>

@{
    ViewBag.Title = "Departamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function GetDetalle(id) {
        console.log(id);
        $.ajax({
            async: true,
            type: 'GET',
            dataType: 'html',
            contentType: 'application/json;charset=utf-8',
            data: { id: id },
            url: '/RH/EditDepartamento',
            success: function (data) {
                console.log(data);
                MostrarDetalle(data);
            }, error: function (data) {
                console.log(data);
                alert('No fue posible consultar el detalle');
            }
        });

        function MostrarDetalle(data) {
            var detalle = data;

            var form = document.getElementById('divForm');
            form.style.display = "block";

            form.innerHTML = detalle;
        }
    }

    function Crear() {
        $.ajax({
            async: true,
            type: 'GET',
            dataType: 'html',
            url: '/RH/CreateDepartamento',
            success: function (data) {
                console.log(data);
                MostrarFormulario(data);
            }, error: function (data) {
                console.log(data);
                alert('No fue abrir el formulario');
            }
        });

        function MostrarFormulario(data) {
            var detalle = data;

            var form = document.getElementById('divForm');
            form.style.display = "block";

            form.innerHTML = detalle;
        }
    }
</script>

<h2>@ViewBag.Title</h2>

<div class="container">
    <button onclick="Crear()" class="btn btn-success" style="float:right;">Nuevo</button>
    <br />
    <br />
    <div id="divTabla">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IdDepartamento) </th>
                    <th>@Html.DisplayNameFor(model => model.Clasificacion) </th>
                    <th>@Html.DisplayNameFor(model => model.Descripcion) </th>
                    <th>@Html.DisplayNameFor(model => model.Estado) </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdDepartamento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Clasificacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            <button onclick="GetDetalle(@item.IdDepartamento)" class="btn btn-primary">Detalle</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="divForm" style="">
    </div>

</div>