<link href="~/Content/css/personnel.css" rel="stylesheet" />

<nav id="sidebar" class="bg-dark active">
    <div class="sidebar-header">
        <ul class="list-unstyled components">
            @if (Session["IdEmp"] == null)
            {
                <li>
                    @Html.ActionLink("Registrarse", "Register", "Acceso")
                </li>
                <li>
                    @Html.ActionLink("Iniciar Sesión", "Login", "Acceso")
                </li>
            }
            else
            {
                <li>
                    <div class="text-center">
                        <img src='@Url.Action("Show","Imagen", new { IdEmp = Session["IdEmp"]})' class="imagenPerfil" />
                    </div>
                    <a>
                        @Session["NombreEmpleado"].ToString()
                    </a>
                </li>
                <li>
                    @Html.ActionLink("Cerrar Sesión", "Logout", "Acceso")
                </li>
            }
        </ul>
        <div>
            <h3>Modules</h3>
        </div>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>

            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">About</a>
        </li>

        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>

            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">Portfolio</a>
        </li>

        <li>
            <a href="#">Contact</a>
        </li>

    </ul>
</nav>

<script type="text/javascript" src="~/Content/scripts/SidebarMenu.js"></script>