@model DataLayer.Models.OrdenVM

@{
    ViewBag.Title = "Editar Orden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>@ViewBag.Title</h2>
    <form action="EditOrden" method="post">
        @Html.ActionLink("Eliminar", "DeleteOrden", "CMP", new { id = Model.Orden.IdOrden }, new { @class = "btn btn-danger", @style = "float: right;" })
        <div class="form-group">
            @Html.LabelFor(o => o.Orden.IdProveedor)
            @Html.TextBoxFor(o => o.Orden.IdProveedor, new { @class = "form-control", placeholder = "IdProveedor" })
            @Html.ValidationMessageFor(o => o.Orden.IdProveedor, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(o => o.Orden.Proveedor)
            @Html.TextBoxFor(o => o.Orden.Proveedor, new { @class = "form-control", placeholder = "Proveedor" })
            @Html.ValidationMessageFor(o => o.Orden.Proveedor, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(o => o.Orden.Moneda)
            @Html.TextBoxFor(o => o.Orden.Moneda, new { @class = "form-control", placeholder = "Moneda" })
            @Html.ValidationMessageFor(o => o.Orden.Moneda, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(o => o.Orden.FechaEntrega)
            @Html.TextBoxFor(o => o.Orden.FechaEntrega, new { @Value = Model.Orden.FechaEntrega.ToString("yyyy-MM-ddTHH:mm"), @class = "form-control", type = "datetime-local" })
            @Html.ValidationMessageFor(o => o.Orden.FechaEntrega, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(o => o.Orden.FechaElaboracion)
            @Html.TextBoxFor(o => o.Orden.FechaElaboracion, new { @Value = Model.Orden.FechaElaboracion.ToString("yyyy-MM-ddTHH:mm"), @class = "form-control", type = "datetime-local", @readonly = true })
            @Html.ValidationMessageFor(o => o.Orden.FechaElaboracion, null, new { @class = "text-danger" })
        </div>

        <div class="my-2">
            <div style="margin-bottom: 1%; text-align:right;">
                <button class="btn btn-success" onclick="addItem()">Agregar producto</button>
            </div>
            <table id="tblOrdenDetail" class="table table-bordered">
                <tr>
                    <td>Partida</td>
                    <td>IdProducto</td>
                    <td>Producto</td>
                    <td>Cantidad</td>
                    <td>Unidad Interna</td>
                    <td>Unidad Externa</td>
                    <td>Acciones</td>
                </tr>
                @foreach (var item in Model.ListaOrden_Detalle)
                {
                    <tr>
                        <td>@item.Partida</td>
                        <td>@item.IdProducto</td>
                        <td>@item.Producto</td>
                        <td>@item.Cantidad</td>
                        <td>@item.UnidadInterna</td>
                        <td>@item.UnidadExterna</td>
                        <td><button class="btn btn-danger" onclick="removeItem(this)">Remover</button></td>
                    </tr>
                }
            </table>
        </div>

        <a class="btn btn-primary" href="@Url.Action("Ordenes","CMP")">Regresar</a>
        <input type="submit" value="Añadir Orden" class="btn btn-success" />
    </form>
</div>

@section scripts{
    <script type="text/javascript">
        function addItem() {
            event.preventDefault();
            var tblBody = document.getElementById('tblOrdenBody');

            var Partida = $("#Partida").val();
            var IdProducto = $("#IdProducto").val();
            var Producto = $("#Producto").val();
            var Cantidad = $("#Cantidad").val();
            var UnidadInterna = $("#UnidadInterna").val();
            var UnidadExterna = $("#UnidadExterna").val();

            var itemOrden = "<tr><td>" + Partida + "</td><td>" + IdProducto + "</td><td>" + Producto + "</td><td>" + Cantidad + "</td><td>" + UnidadInterna + "</td><td>" + UnidadExterna + "</td><td><button class='btn btn-danger' onclick='removeItem(this)'>Remover</button></td></tr>";

            tblBody.innerHTML += itemOrden;
            limpiarDatos();
        }

        function removeItem(btn) {
            event.preventDefault();

            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }

        function guardarOrden() {
            event.preventDefault();

            var listaOrdenes = [];
            listaOrdenes.length = 0;

            var orden_maestro;

            orden_maestro = {
                IdProveedor: $("#IdProveedor").val(),
                Proveedor: $("#Proveedor").val(),
                Moneda: $("#Moneda").val(),
                FechaEntrega: $("#FechaEntrega").val(),
                FechaElaboracion: $("#FechaElaboracion").val()
            };

            $.each($("#tblOrdenDetail tbody tr"), function () {
                listaOrdenes.push({
                    Partida: $(this).find('td:eq(0)').html(),
                    IdProducto: $(this).find('td:eq(1)').html(),
                    Producto: $(this).find('td:eq(2)').html(),
                    Cantidad: $(this).find('td:eq(3)').html(),
                    UnidadInterna: $(this).find('td:eq(3)').html(),
                    UnidadExterna: $(this).find('td:eq(3)').html(),
                });
            });

            var data = JSON.stringify({
                orden: orden_maestro,
                orden_detalle: listaOrdenes
            });

            enviarOrden(data);
        }

        function enviarOrden(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/CMP/CreateOrden",
                data: data,
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function () {
                    alert("Error!")
                }
            });
        }

        function limpiarDatos() {

            $("#Partida").val('');
            $("#IdProducto").val('');
            $("#Producto").val('');
            $("#Cantidad").val('');
            $("#UnidadInterna").val('');
            $("#UnidadExterna").val('');
        }
    </script>
}