@model DataLayer.Models.OrdenVM

@{
    ViewBag.Title = "Crear Orden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>@ViewBag.Title</h2>
    <form action="CreateOrden" method="post">
        <div class="form-group">
            @Html.DropDownListFor(o => o.Orden.IdProveedor, Model.ListaProveedores, "~Selecciona proveedor~", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(o => o.Orden.Moneda)
            @Html.TextBoxFor(o => o.Orden.Moneda, new { @class = "form-control", placeholder = "Moneda" })
            @Html.ValidationMessageFor(o => o.Orden.Moneda, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(o => o.Orden.FechaEntrega)
            @Html.TextBoxFor(o => o.Orden.FechaEntrega, new { @Value = ((DateTime.Now).AddDays(7)).ToString("yyyy-MM-ddTHH:mm"), @class = "form-control", type = "datetime-local" })
            @Html.ValidationMessageFor(o => o.Orden.FechaEntrega, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(o => o.Orden.FechaElaboracion)
            @Html.TextBoxFor(o => o.Orden.FechaElaboracion, new { @Value = DateTime.Now.ToString("yyyy-MM-ddTHH:mm"), @class = "form-control", type = "datetime-local", @readonly = true })
            @Html.ValidationMessageFor(o => o.Orden.FechaElaboracion, null, new { @class = "text-danger" })
        </div>

        <div class="my-2">
            <div>
                <div>
                    <table class="table table-bordered">
                        <tr>
                            <td>Partida</td>
                            <td>IdProducto</td>
                            <td>Producto</td>
                            <td>Cantidad</td>
                            <td>Unidad Interna</td>
                            <td>Unidad Externa</td>
                        </tr>
                        <tr>
                            <td>@Html.TextBoxFor(od => od.Orden_Detalle.Partida, new { @class = "form-control", placeholder = "Partida" })</td>
                            <td>@Html.TextBoxFor(od => od.Orden_Detalle.IdProducto, new { @class = "form-control", placeholder = "IdProducto" })</td>
                            <td>@Html.TextBoxFor(od => od.Orden_Detalle.Producto, new { @class = "form-control", placeholder = "Producto" })</td>
                            <td>@Html.TextBoxFor(od => od.Orden_Detalle.Cantidad, new { @class = "form-control", placeholder = "Cantidad" })</td>
                            <td>@Html.TextBoxFor(od => od.Orden_Detalle.UnidadInterna, new { @class = "form-control", placeholder = "UnidadInterna" })</td>
                            <td>@Html.TextBoxFor(od => od.Orden_Detalle.UnidadExterna, new { @class = "form-control", placeholder = "Partida" })</td>
                        </tr>
                    </table>
                </div>
                <div style="margin-bottom: 1%; text-align:right;">
                    <button class="btn btn-success" onclick="addItem()">Agregar producto</button>
                </div>
            </div>

            <table id="tblOrdenDetail" class="table table-bordered">
                <thead>
                    <tr>
                        <td>Partida</td>
                        <td>IdProducto</td>
                        <td>Producto</td>
                        <td>Cantidad</td>
                        <td>Unidad Interna</td>
                        <td>Unidad Externa</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody id="tblOrdenBody">
                </tbody>
            </table>
        </div>

        <a class="btn btn-primary" href="@Url.Action("Ordenes","CMP")">Regresar</a>
        <button class="btn btn-success" onclick="guardarOrden()">Guardar</button>
    </form>
</div>
