@model IEnumerable<DataLayer.Models.Proveedor>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Proveedores";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <div class="text-right">
        <button class="btn btn-success" onclick="Crear()">Nuevo</button>
    </div>
    <br />

    <div id="divTabla" style="overflow-x:auto;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IdProveedor)</th>
                    <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                    <th>@Html.DisplayNameFor(model => model.Direccion)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.IdProveedor)</td>
                        <td>@Html.DisplayFor(m => item.Nombre)</td>
                        <td>@Html.DisplayFor(m => item.Email)</td>
                        <td>@Html.DisplayFor(m => item.Telefono)</td>
                        <td>@Html.DisplayFor(m => item.Direccion)</td>
                        <td>
                            <button onclick="GetDetalle('@item.IdProveedor')" class="btn btn-primary">Detalle</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="newRegister">
    <div class="modal-dialog modal-xl" style=" width: 900px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Añadir Proveedor</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="modalBod">
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        function Crear() {
            $.ajax({
                async: true,
                type: 'GET',
                dataType: 'html',
                url: '/CMP/CreateProveedor',
                success: function (data) {
                    MostrarFormulario(data);
                }, error: function (data) {
                    console.log(data);
                    alert('No fue posible abrir el formulario');
                }
            });

            function MostrarFormulario(data) {
                var detalle = data;

                var modal = document.getElementById('modalBod');

                modal.innerHTML = detalle;
                $("#newRegister").modal();
            }
        }

        function GetDetalle(id) {
            console.log(id);
            $.ajax({
                async: true,
                type: 'GET',
                dataType: 'html',
                contentType: 'application/json;charset=utf-8',
                data: { id: id },
                url: '/CMP/EditProveedor',
                success: function (data) {
                    console.log(data);
                    MostrarDetalle(data);
                }, error: function (data) {
                    console.log(data);
                    alert('No fue posible consultar el detalle');
                }
            });

            function MostrarDetalle(data) {
                var detalle = data;

                var modal = document.getElementById('modalBod');

                modal.innerHTML = detalle;
                $("#newRegister").modal();
            }
        }

    </script>
}