@model IEnumerable<DataLayer.Models.Puesto>

@{
    ViewBag.Title = "Puestos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    @Html.ActionLink("Nuevo", "CreatePuesto", "RH", new { @class = "btn btn-success", @style = "float: right" })
    <br />
    <br />
    <div id="divTabla">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IdPuesto) </th>
                    <th>@Html.DisplayNameFor(model => model.Clasificacion) </th>
                    <th>@Html.DisplayNameFor(model => model.Descripcion) </th>
                    <th>@Html.DisplayNameFor(model => model.Estado) </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdPuesto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Clasificacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "EditPuesto", "RH", new { id = item.IdPuesto }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Eliminar", "DeletePuesto", "RH", new { id = item.IdPuesto }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>