@model DataLayer.Models.EmpleadoVM

@{
    ViewBag.Title = "Crear Empleado";
}

<div>
    <h2>@ViewBag.Title</h2>

    <form action="CreateEmpleado" method="post">
        <div class="form-group">
            @Html.DropDownListFor(e => e.Empleado.IdDepartamento, Model.ListaDepartamentos,
           "~Selecciona departamento~", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.DropDownListFor(e => e.Empleado.IdPuesto, Model.ListaPuestos,
           "~Selecciona puesto~", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.Empleado.Ingreso)
            @Html.TextBoxFor(e => e.Empleado.Ingreso, new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(e => e.Empleado.Ingreso, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.Empleado_Detalle.Nombre)
            @Html.TextBoxFor(e => e.Empleado_Detalle.Nombre, new { @class = "form-control", placeholder = "Nombre(s)" })
            @Html.ValidationMessageFor(e => e.Empleado_Detalle.Nombre, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.Empleado_Detalle.ApellidoP)
            @Html.TextBoxFor(e => e.Empleado_Detalle.ApellidoP, new { @class = "form-control", placeholder = "Apellido Paterno" })
            @Html.ValidationMessageFor(e => e.Empleado_Detalle.ApellidoP, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.Empleado_Detalle.ApellidoP)
            @Html.TextBoxFor(e => e.Empleado_Detalle.ApellidoM, new { @class = "form-control", placeholder = "Apellido Materno" })
            @Html.ValidationMessageFor(e => e.Empleado_Detalle.ApellidoP, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.Empleado_Detalle.FechaNac)
            @Html.TextBoxFor(e => e.Empleado_Detalle.FechaNac, new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(e => e.Empleado_Detalle.FechaNac, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.Empleado_Detalle.Telefono)
            @Html.TextBoxFor(e => e.Empleado_Detalle.Telefono, new { @class = "form-control", placeholder = "Telefono" })
            @Html.ValidationMessageFor(e => e.Empleado_Detalle.Telefono, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.Empleado_Detalle.Extension)
            @Html.TextBoxFor(e => e.Empleado_Detalle.Extension, new { @class = "form-control", placeholder = "Extensión" })
            @Html.ValidationMessageFor(e => e.Empleado_Detalle.Extension, null, new { @class = "text-danger" })
        </div>
        <a class="btn btn-primary" href="@Url.Action("Empleados","RH")">Regresar</a>
        <input type="submit" value="Añadir Empleado" class="btn btn-success" />
    </form>
</div>