@model IEnumerable<DataLayer.Models.VistaEmpleado>

@{
    ViewBag.Title = "Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <button onclick="Crear()" class="btn btn-success" style="float:right;">Nuevo</button>
    <br />
    <br />
    <div id="divTabla" style="overflow-x:auto;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IdEmp) </th>
                    <th>@Html.DisplayNameFor(model => model.Departamento) </th>
                    <th>@Html.DisplayNameFor(model => model.Puesto) </th>
                    <th>@Html.DisplayNameFor(model => model.Ingreso) </th>
                    <th>@Html.DisplayNameFor(model => model.Nombre) </th>
                    <th>@Html.DisplayNameFor(model => model.ApellidoP) </th>
                    <th>@Html.DisplayNameFor(model => model.ApellidoM) </th>
                    <th>@Html.DisplayNameFor(model => model.FechaNac) </th>
                    <th>@Html.DisplayNameFor(model => model.Telefono) </th>
                    <th>@Html.DisplayNameFor(model => model.Extension) </th>
                    <th>@Html.DisplayNameFor(model => model.Estado) </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdEmp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departamento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Puesto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ingreso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApellidoP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApellidoM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaNac)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Extension)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            <button onclick="GetDetalle(@item.IdEmp)" class="btn btn-primary">Detalles</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="newRegister">
    <div class="modal-dialog modal-xl" style=" width: 900px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Añadir Empleado</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="modalBod">
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function Crear() {

            $.ajax({
                async: true,
                type: 'GET',
                dataType: 'html',
                url: '/RH/CreateEmpleado',
                success: function (data) {
                    MostrarFormulario(data);
                }, error: function (data) {
                    console.log(data);
                    alert('No fue posible abrir el formulario');
                }
            });

            function MostrarFormulario(data) {
                var detalle = data;

                var modal = document.getElementById('modalBod');

                modal.innerHTML = detalle;
                $("#newRegister").modal();
            }
        }
    </script>
}
