@model IEnumerable<DataLayer.Models.VistaEmpleado>

@{
    ViewBag.Title = "Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Nuevo", "CreateEmpleado", "RH", new { @class = "btn btn-success", @style = "float: right" })
    <br />
    <br />
    <div id="divTabla">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IdEmp) </th>
                    <th>@Html.DisplayNameFor(model => model.Departamento) </th>
                    <th>@Html.DisplayNameFor(model => model.Puesto) </th>
                    <th>@Html.DisplayNameFor(model => model.Ingreso) </th>
                    <th>@Html.DisplayNameFor(model => model.Nombre) </th>
                    <th>@Html.DisplayNameFor(model => model.ApellidoP) </th>
                    <th>@Html.DisplayNameFor(model => model.ApellidoM) </th>
                    <th>@Html.DisplayNameFor(model => model.FechaNac) </th>
                    <th>@Html.DisplayNameFor(model => model.Telefono) </th>
                    <th>@Html.DisplayNameFor(model => model.Extension) </th>
                    <th>@Html.DisplayNameFor(model => model.Estado) </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdEmp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departamento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Puesto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ingreso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApellidoP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApellidoM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaNac)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Extension)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "EditEmpleado", "RH", new { id = item.IdEmp }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Eliminar", "DeleteEmpleado", "RH", new { id = item.IdEmp }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>